</br>
<table class="table table-striped table-hover">
  <thead >
  <tr>
    <th scope="col">Items</th>
    <th scope="col">Price</th>
    <th scope="col">Photo</th>
  </tr>
  </thead>
  <tbody>
  <% for warehouse in @warehouses do %>
      <% for item in warehouse.items do %>
        <tr >
          <td><%= item.name %></td>
          <td><%= item.price %></td>
          <td>
            <% if item.has_photo? %>
                <%= image_tag item.photo_path, size: "200x120"%>
            <% else %>
                No photo.
            <% end %>
          </td>
        </tr>
      <% end %>
  <% end %>
  </tbody>
</table>

<p><%=link_to "Back", @store, class: "btn btn-primary"  %></p>
